<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body>
        <!-- Navigation-->
        <%- include('layouts/navbar'); -%>
        <header class="masthead" style="background-color:rgb(43, 41, 41);">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>LOGIN</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
          
                            <div class="my-5"> 
                                <div class="container">
                                    <div class="row">
                                    <div class="col-lg-8 col-md-10 mx-auto">
                                    <% if(errors){ %>
                                    <ul class="list-group"></ul>
                                    <% for (var i = 0; i < errors.length; i++) { %>
                                    <li class="list-group-item list-group-item-danger"><%=
                                    errors[i] %></li>
                                    <% } %>
                                    </ul>
                                    <% } %>
                                </div>  
                            <form action="/user/login" id="login" method="POST "data-sb-form-api-token="API_TOKEN" style="width:70vw ;margin-left:auto; margin-right:auto;" >
                            
                                <div class="form-floating">
                                    <input class="form-control" id="userName" name="userName"type="text" placeholder="Username" data-sb-validations="required" value="<% userName %>" />
                                    <label for="userName">Username</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">Username is required.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="password" name="password"type="password" placeholder="Enter your password number..." data-sb-validations="required" value="<% password %>" />
                                    <label for="password">password</label>
                                    <div class="invalid-feedback" data-sb-feedback="license:required">Enter yor password</div>
                                </div>
                                
                                <br />
                                
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        To activate this form, sign up at
                                        <br />
                                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary"
                                        id="sendMessageButton">LOGIN</button>
                                        
                                </div>
                               
                            </form>
                            
                        
        </main>
        <!-- Footer-->
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
